<h1>Restaurant#index</h1>
<p>Find me in app/views/restaurant/index.html.erb</p>

<% @restaurants.each do |restaurant| %>
  <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
  <p><%= restaurant.category  %></p>

<% end  %>

<%= link_to "create new", new_restaurant_path %>

